.categories__container {
    padding: 80px 16px;
    .categories__header {
        &.hidden {
            display: none;
        }

        .categories__title {
            font-family: var(--font-family-Roboto);
            font-weight: 500;
            font-style: Medium;
            font-size: 28px;
            line-height: 125%;
            letter-spacing: 0%;
            text-transform: uppercase;
            color: rgba(43, 45, 51, 1);
            margin-bottom: 16px;
        }
        .categories__subtitle {
            font-family: var(--font-family-Rubik);
            font-weight: 400;
            font-style: Regular;
            font-size: 14px;
            line-height: 145%;
            letter-spacing: 0%;
            color: rgba(43, 45, 51, 1);
        }
    }
    .categories__slider {
        width: 100%;
        margin-top: 32px;
        &.hidden {
            display: none;
        }
        .swiper {
            width: 100%;
            .swiper-wrapper {
                width: 100%;
                .swiper-slide {
                    border: 1px solid rgba(243, 243, 243, 1);
                    width: 171px !important;
                    height: 357.5px;
                    padding: 8px;
                    flex-shrink: 0;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    h1 {
                        font-family: var(--font-family-Roboto);
                        text-transform: uppercase;
                        font-weight: 500;
                        font-style: Medium;
                        font-size: 14px;

                        line-height: 100%;
                        letter-spacing: 0%;
                    }
                    hr {
                        margin: 10px 0px;
                        border: none;
                        height: 1px;
                        background: rgba(243, 243, 243, 1);
                    }
                    p {
                        margin-top: 4px;
                        font-family: var(--font-family-Rubik);
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 145%;
                        letter-spacing: 0%;
                        color: rgba(159, 159, 159, 1);
                    }
                    picture {
                        width: 155.5px;
                        height: 155.5px;
                        img {
                            width: 155.5px;
                            height: 155.5px;
                        }
                    }
                    .viewBtn {
                        width: 100%;
                        height: 40px;
                        position: static;
                        display: flex;
                        justify-content: center;
                        gap: 2px;
                        align-items: center;
                        background: rgba(255, 111, 57, 1);
                        span {
                            display: block;
                        }
                        i {
                            font-size: 20px;
                        }
                    }
                }
            }
            .categories__nav {
                margin-top: 32px;
                margin-bottom: 64px;
                display: flex;
                gap: 9px;
                .btnToCatalog {
                    width: 100%;
                    height: 48px;
                    border-color: rgba(43, 45, 51, 1);
                    color: rgba(43, 45, 51, 1);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover {
                        color: rgba(255, 255, 255, 1);
                        background: rgba(43, 45, 51, 1);
                    }
                    span {
                        display: block;
                    }
                    i {
                        font-size: 24px;
                    }
                }
                .prevBtnCategories,
                .nextBtnCategories {
                    button {
                        width: 48px;
                        height: 48px;
                        border-color: rgba(43, 45, 51, 1);
                        color: rgba(43, 45, 51, 1);
                        span {
                            display: none;
                        }
                        &:hover {
                            color: rgba(255, 255, 255, 1);
                            background: rgba(43, 45, 51, 1);
                        }
                    }
                }
                .nextBtnCategories {
                    button {
                        &:hover {
                            color: rgba(255, 255, 255, 1);
                            background: rgb(28, 30, 34);
                        }
                        background: rgba(43, 45, 51, 1);
                        i {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .categories__methodsOfChoosing {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
        .categoryBox {
            width: 100%;
            height: 341px;
            padding: 24px;
            background: rgba(233, 234, 229, 1);
            .categoryLogo {
                width: 138px;
                margin-bottom: 32px;
            }
            .categories__tz__title,
            .categories__quiz__title {
                font-family: var(--font-family-Roboto);
                font-weight: 500;
                font-style: Medium;
                font-size: 18px;
                line-height: 100%;
                letter-spacing: 0%;
            }
            .categories__tz__subtitle,
            .categories__quiz__subtitle {
                font-family: var(--font-family-Rubik);
                font-weight: 400;
                font-size: 14px;
                line-height: 145%;
                letter-spacing: 0%;
                margin-top: 10px;
                color: rgba(90, 90, 90, 1);
            }
            .categories__quiz__btn {
                width: 124px;
                height: 40px;
            }
            .categories__tz__btn {
                width: 110px;
                height: 40px;
            }
            .categories__quiz__btn,
            .categories__tz__btn {
                padding: 10px 12px;
                margin-top: 26px;
                display: flex;
                align-items: center;
                flex-direction: row;
                gap: 2px;
                border-radius: 2px;
                background: rgba(43, 45, 51, 1);
                transition: background 0.3s ease;
                &:hover {
                    cursor: pointer;
                    transition: background 0.3s ease;
                    background: rgba(28, 30, 34, 1);
                }
                i {
                    font-size: 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .categories__container {
        padding: 64px 32px;
        .categories__title {
            font-family: var(--font-family-Roboto);
            font-weight: 500;
            font-style: Medium;
            font-size: 40px;
            line-height: 125%;
            letter-spacing: 0%;
            text-transform: uppercase;
            color: rgba(43, 45, 51, 1);
            margin-bottom: 16px;
        }
        .categories__subtitle {
            max-width: 465px;
            font-family: var(--font-family-Rubik);
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 145%;
            letter-spacing: 0%;
            color: rgba(43, 45, 51, 1);
        }
        .categories__slider {
            width: 100%;
            margin-top: 32px;
            .swiper {
                width: 100%;
                .swiper-wrapper {
                    width: 100%;
                    .swiper-slide {
                        border: 1px solid rgba(243, 243, 243, 1);
                        width: 176px !important;
                        height: 357.5px;
                        padding: 8px;
                        flex-shrink: 0;
                        position: relative;
                        h1 {
                            font-family: var(--font-family-Roboto);
                            text-transform: uppercase;
                            font-weight: 500;
                            font-style: Medium;
                            font-size: 14px;

                            line-height: 100%;
                            letter-spacing: 0%;
                        }
                        hr {
                            margin: 10px 0px;
                            border: none;
                            height: 1px;
                            background: rgba(243, 243, 243, 1);
                        }
                        p {
                            margin-top: 4px;
                            font-family: var(--font-family-Rubik);
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 145%;
                            letter-spacing: 0%;
                            color: rgba(159, 159, 159, 1);
                        }
                        picture {
                            width: 155.5px;
                            height: 155.5px;
                            img {
                                width: 155.5px;
                                height: 155.5px;
                            }
                        }
                        .slide__bottom {
                            padding: 0 12px 12px 12px;
                            .viewBtn {
                                height: 40px;
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                gap: 2px;
                                align-items: center;
                                background: rgba(255, 111, 57, 1);
                                span {
                                    display: block;
                                }
                                i {
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }
                .categories__nav {
                    margin-top: 32px;
                    margin-bottom: 64px;
                    display: flex;
                    gap: 9px;
                    .btnToCatalog {
                        width: 100%;
                        height: 48px;
                        border-color: rgba(43, 45, 51, 1);
                        color: rgba(43, 45, 51, 1);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &:hover {
                            color: rgba(255, 255, 255, 1);
                            background: rgba(43, 45, 51, 1);
                        }
                        span {
                            display: block;
                        }
                        i {
                            font-size: 24px;
                        }
                    }
                    .prevBtnCategories,
                    .nextBtnCategories {
                        button {
                            width: 48px;
                            height: 48px;
                            border-color: rgba(43, 45, 51, 1);
                            color: rgba(43, 45, 51, 1);
                            &:hover {
                                color: rgba(255, 255, 255, 1);
                                background: rgba(43, 45, 51, 1);
                            }
                        }
                    }
                }
            }
        }
        .categories__methodsOfChoosing {
            display: flex;
            flex-direction: row;
            gap: 32px;
            align-items: center;
            .categoryBox {
                width: 100%;
                height: 341px;
                padding: 24px;
                background: rgba(233, 234, 229, 1);
                .categoryLogo {
                    width: 145px;
                    height: 124px;
                    margin-bottom: 32px;
                }
                .categories__tz__title,
                .categories__quiz__title {
                    font-family: var(--font-family-Roboto);
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 18px;
                    line-height: 100%;
                    letter-spacing: 0%;
                }
                .categories__tz__subtitle,
                .categories__quiz__subtitle {
                    font-family: var(--font-family-Rubik);
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 145%;
                    letter-spacing: 0%;
                    margin-top: 10px;
                    color: rgba(90, 90, 90, 1);
                }
                .categories__quiz__btn {
                    width: 124px;
                    height: 40px;
                }
                .categories__tz__btn {
                    width: 110px;
                    height: 40px;
                }
                .categories__quiz__btn,
                .categories__tz__btn {
                    padding: 10px 12px;
                    margin-top: 26px;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    gap: 2px;
                    border-radius: 2px;
                    background: rgba(43, 45, 51, 1);
                    transition: background 0.3s ease;
                    &:hover {
                        cursor: pointer;
                        transition: background 0.3s ease;
                        background: rgba(28, 30, 34, 1);
                    }
                    i {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1024px) {
    .categories__container {
        padding: 64px 48px;
        .categories__title {
            font-family: var(--font-family-Roboto);
            font-weight: 500;
            font-style: Medium;
            font-size: 40px;
            line-height: 125%;
            letter-spacing: 0%;
            text-transform: uppercase;
            color: rgba(43, 45, 51, 1);
            margin-bottom: 16px;
        }
        .categories__subtitle {
            font-family: var(--font-family-Rubik);
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 145%;
            letter-spacing: 0%;
            color: rgba(43, 45, 51, 1);
        }
        .categories__slider {
            width: 100%;
            margin-top: 32px;
            .swiper {
                width: 100%;
                .swiper-wrapper {
                    width: 100%;
                    .swiper-slide {
                        border: 1px solid rgba(243, 243, 243, 1);
                        width: 185px !important;
                        height: 386px;
                        padding: 8px;
                        flex-shrink: 0;
                        position: relative;
                        display: flex;
                        flex-direction: column;

                        h1 {
                            font-family: var(--font-family-Roboto);
                            text-transform: uppercase;

                            font-weight: 500;
                            font-style: Medium;
                            font-size: 14px;
                            padding: 0 8px;
                            line-height: 100%;
                            letter-spacing: 0%;
                        }
                        hr {
                            width: 100%;
                            margin: 10px 0px;
                            border: none;
                            height: 1px;
                            background: rgba(243, 243, 243, 1);
                        }
                        p {
                            margin-top: 4px;
                            font-family: var(--font-family-Rubik);
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 145%;
                            padding: 0 8px;
                            letter-spacing: 0%;
                            color: rgba(159, 159, 159, 1);
                        }
                        picture {
                            width: 155.5px;
                            height: 155.5px;
                            img {
                                width: 155.5px;
                                height: 155.5px;
                            }
                        }
                        .viewBtn {
                            width: 100%;
                            height: 40px;

                            display: flex;
                            justify-content: center;
                            gap: 2px;
                            left: 20px;
                            align-items: center;
                            background: rgba(255, 111, 57, 1);
                            i {
                                font-size: 20px;
                            }
                        }
                    }
                }
                .categories__nav {
                    margin-top: 32px;
                    margin-bottom: 64px;
                    display: flex;
                    gap: 9px;
                    .btnToCatalog {
                        display: flex;
                        width: 100%;
                        height: 48px;
                        border-color: rgba(43, 45, 51, 1);
                        color: rgba(43, 45, 51, 1);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &:hover {
                            color: rgba(255, 255, 255, 1);
                            background: rgba(43, 45, 51, 1);
                        }
                        span {
                            display: block;
                        }
                        i {
                            font-size: 24px;
                        }
                    }
                    .prevBtnCategories,
                    .nextBtnCategories {
                        button {
                            width: 48px;
                            height: 48px;
                            border-color: rgba(43, 45, 51, 1);
                            color: rgba(43, 45, 51, 1);
                            &:hover {
                                color: rgba(255, 255, 255, 1);
                                background: rgba(43, 45, 51, 1);
                            }
                        }
                    }
                }
            }
        }
        .categories__methodsOfChoosing {
            display: flex;
            flex-direction: row;
            gap: 32px;
            align-items: center;
            .categoryBox {
                width: 100%;
                height: 341px;
                padding: 24px;
                position: relative;
                background: rgba(233, 234, 229, 1);
                .categoryLogo {
                    margin-bottom: 32px;
                }
                .categories__tz__title,
                .categories__quiz__title {
                    font-family: var(--font-family-Roboto);
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 18px;
                    line-height: 100%;
                    letter-spacing: 0%;
                }
                .categories__tz__subtitle,
                .categories__quiz__subtitle {
                    font-family: var(--font-family-Rubik);
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 145%;
                    letter-spacing: 0%;
                    margin-top: 10px;
                    color: rgba(90, 90, 90, 1);
                }
                .categories__quiz__btn {
                    width: 124px;
                    height: 40px;
                    position: absolute;
                    bottom: 24px;
                }
                .categories__tz__btn {
                    width: 110px;
                    height: 40px;
                    bottom: 24px;
                    position: absolute;
                }
                .categories__quiz__btn,
                .categories__tz__btn {
                    padding: 10px 12px;
                    margin-top: 26px;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    gap: 2px;
                    border-radius: 2px;
                    background: rgba(43, 45, 51, 1);
                    transition: background 0.3s ease;
                    &:hover {
                        cursor: pointer;
                        transition: background 0.3s ease;
                        background: rgba(28, 30, 34, 1);
                    }
                    i {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .categories__container {
        padding: 80px;
        .categories__header {
            display: flex;
            justify-content: space-between;
            .categories__title {
                font-family: var(--font-family-Roboto);
                font-weight: 500;
                font-style: Medium;
                font-size: 56px;
                line-height: 125%;
                letter-spacing: 0%;
                text-transform: uppercase;
                color: rgba(43, 45, 51, 1);
                margin-bottom: 0px;
            }
            .categories__subtitle {
                font-family: var(--font-family-Rubik);
                font-weight: 400;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                line-height: 145%;
                letter-spacing: 0%;
                color: rgba(43, 45, 51, 1);
            }
        }
        .categories__slider {
            width: 100%;
            margin-top: 32px;
            .swiper {
                width: 100%;
                .swiper-wrapper {
                    width: 100%;
                    .swiper-slide {
                        border: 1px solid rgba(243, 243, 243, 1);
                        width: calc(100% / 5) !important;
                        height: 440px;
                        padding: 8px;
                        flex-shrink: 0;
                        position: relative;
                        display: flex;
                        flex-direction: column;

                        h1 {
                            font-family: var(--font-family-Roboto);
                            text-transform: uppercase;

                            font-weight: 500;
                            font-style: Medium;
                            font-size: 18px;
                            padding: 0 8px;
                            line-height: 100%;
                            letter-spacing: 0%;
                        }
                        hr {
                            width: 100%;
                            margin: 10px 0px;
                            border: none;
                            height: 1px;
                            background: rgba(243, 243, 243, 1);
                        }
                        p {
                            margin-top: 4px;
                            font-family: var(--font-family-Rubik);
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 145%;
                            padding: 0 8px;
                            letter-spacing: 0%;
                            color: rgba(159, 159, 159, 1);
                        }
                        picture {
                            width: 240px;
                            height: 240px;
                            img {
                                width: 240px;
                                height: 240px;
                            }
                        }
                        .viewBtn {
                            width: 100%;
                            height: 40px;

                            bottom: 20px;
                            display: flex;
                            justify-content: center;
                            gap: 2px;
                            left: 20px;
                            align-items: center;
                            background: rgba(255, 111, 57, 1);
                            i {
                                font-size: 20px;
                            }
                        }
                    }
                }
                .categories__nav {
                    margin-top: 32px;
                    margin-bottom: 64px;
                    display: flex;
                    gap: 9px;
                    .btnToCatalog {
                        display: flex;
                        width: 100%;
                        height: 48px;
                        border-color: rgba(43, 45, 51, 1);
                        color: rgba(43, 45, 51, 1);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &:hover {
                            color: rgba(255, 255, 255, 1);
                            background: rgba(43, 45, 51, 1);
                        }
                        span {
                            display: block;
                        }
                        i {
                            font-size: 24px;
                        }
                    }
                    .prevBtnCategories,
                    .nextBtnCategories {
                        button {
                            width: 48px;
                            height: 48px;
                            border-color: rgba(43, 45, 51, 1);
                            color: rgba(43, 45, 51, 1);
                            &:hover {
                                color: rgba(255, 255, 255, 1);
                                background: rgba(43, 45, 51, 1);
                            }
                        }
                    }
                }
            }
        }
        .categories__methodsOfChoosing {
            display: flex;
            flex-direction: row;
            gap: 32px;
            align-items: center;
            .categoryBox {
                width: 100%;
                height: fit-content;
                display: flex;
                padding: 32px;
                gap: 32px;
                background: rgba(233, 234, 229, 1);
                .categories__content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                .categoryLogo {
                    margin-bottom: 0px;
                    width: 285px;
                    height: 256px;
                    display: flex;
                    justify-content: center;
                }
                .categories__tz__title,
                .categories__quiz__title {
                    font-family: var(--font-family-Roboto);
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 22px;
                    line-height: 100%;
                    letter-spacing: 0%;
                }
                .categories__tz__subtitle,
                .categories__quiz__subtitle {
                    font-family: var(--font-family-Rubik);
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 145%;
                    letter-spacing: 0%;
                    margin-top: 10px;
                    margin-bottom: 26px;
                    color: rgba(90, 90, 90, 1);
                }
                .categories__quiz__btn {
                    width: 124px;
                    height: 40px;
                    position: relative;
                }
                .categories__tz__btn {
                    width: 110px;
                    height: 40px;
                    position: relative;
                }
                .categories__quiz__btn,
                .categories__tz__btn {
                    padding: 10px 12px;
                    margin-top: 26px;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    gap: 2px;
                    border-radius: 2px;
                    background: rgba(43, 45, 51, 1);
                    transition: background 0.3s ease;
                    &:hover {
                        cursor: pointer;
                        transition: background 0.3s ease;
                        background: rgba(28, 30, 34, 1);
                    }
                    i {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1920px) {
    .categories__container {
        max-width: 1728px;
        margin: 0 auto;
        padding: 96px 0px 92px;

        .categories__header {
            display: flex;
            justify-content: space-between;
            .categories__title {
                font-family: var(--font-family-Roboto);
                font-weight: 500;
                font-style: Medium;
                font-size: 56px;
                line-height: 125%;
                letter-spacing: 0%;
                text-transform: uppercase;
                color: rgba(43, 45, 51, 1);
                margin-bottom: 0px;
            }
            .categories__subtitle {
                font-family: var(--font-family-Rubik);
                font-weight: 400;
                font-style: Regular;
                font-size: 16px;
                line-height: 145%;
                letter-spacing: 0%;
                color: rgba(43, 45, 51, 1);
            }
        }
        .categories__slider {
            width: 100%;
            margin-top: 32px;
            .swiper {
                width: 100%;
                .swiper-wrapper {
                    width: 100%;
                    .swiper-slide {
                        border: 1px solid rgba(243, 243, 243, 1);
                        width: 345.6px !important;
                        height: 529px;
                        padding: 8px;
                        flex-shrink: 0;
                        position: relative;
                        display: flex;
                        flex-direction: column;

                        h1 {
                            font-family: var(--font-family-Roboto);
                            text-transform: uppercase;

                            font-weight: 500;
                            font-style: Medium;
                            font-size: 18px;
                            padding: 0 8px;
                            line-height: 100%;
                            letter-spacing: 0%;
                        }
                        hr {
                            width: 100%;
                            margin: 10px 0px;
                            border: none;
                            height: 1px;
                            background: rgba(243, 243, 243, 1);
                        }
                        p {
                            margin-top: 4px;
                            font-family: var(--font-family-Rubik);
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 145%;
                            padding: 0 8px;
                            letter-spacing: 0%;
                            color: rgba(159, 159, 159, 1);
                        }
                        .slide__header {
                            picture {
                                max-width: 330px;
                                max-height: 330px;
                                img {
                                    width: 330px;
                                    height: 330px;
                                    max-width: 330px;
                                    max-height: 330px;
                                    object-fit: cover;
                                }
                            }
                        }
                        .viewBtn {
                            width: 305px;
                            height: 40px;
                            display: flex;
                            justify-content: center;
                            gap: 2px;
                            left: 20px;
                            align-items: center;
                            background: rgba(255, 111, 57, 1);
                            i {
                                font-size: 20px;
                            }
                            span {
                                display: block;
                            }
                        }
                    }
                }
                .categories__nav {
                    margin: 64px 0px;
                    display: flex;
                    gap: 9px;
                    .btnToCatalog {
                        display: flex;
                        width: 100%;
                        height: 48px;
                        border-color: rgba(43, 45, 51, 1);
                        color: rgba(43, 45, 51, 1);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &:hover {
                            color: rgba(255, 255, 255, 1);
                            background: rgba(43, 45, 51, 1);
                        }
                        span {
                            display: block;
                        }
                        i {
                            font-size: 24px;
                        }
                    }
                    .prevBtnCategories,
                    .nextBtnCategories {
                        button {
                            display: none;
                            width: 48px;
                            height: 48px;
                            border-color: rgba(43, 45, 51, 1);
                            color: rgba(43, 45, 51, 1);
                            &:hover {
                                color: rgba(255, 255, 255, 1);
                                background: rgba(43, 45, 51, 1);
                            }
                        }
                    }
                }
            }
        }
        .categories__methodsOfChoosing {
            display: flex;
            flex-direction: row;
            gap: 32px;
            align-items: center;
            .categoryBox {
                width: 100%;
                height: fit-content;
                padding: 32px;
                background: rgba(233, 234, 229, 1);
                .categoryLogo {
                    margin-bottom: 0px;
                    width: 376px;
                    height: 256px;
                    padding: 0px 60px;
                }
                .categories__tz__title,
                .categories__quiz__title {
                    font-family: var(--font-family-Roboto);
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 22px;
                    line-height: 100%;
                    letter-spacing: 0%;
                }
                .categories__tz__subtitle,
                .categories__quiz__subtitle {
                    font-family: var(--font-family-Rubik);
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 145%;
                    letter-spacing: 0%;
                    margin-top: 10px;
                    color: rgba(90, 90, 90, 1);
                }
                .categories__quiz__btn {
                    width: 124px;
                    height: 40px;
                }
                .categories__tz__btn {
                    width: 110px;
                    height: 40px;
                }
                .categories__quiz__btn,
                .categories__tz__btn {
                    padding: 10px 12px;
                    margin-top: 26px;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    gap: 2px;
                    border-radius: 2px;
                    background: rgba(43, 45, 51, 1);
                    transition: background 0.3s ease;
                    &:hover {
                        cursor: pointer;
                        transition: background 0.3s ease;
                        background: rgba(28, 30, 34, 1);
                    }
                    i {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
