.questions_container_wrapper {
    background: var(--accent-light-oai);
    .questions_container {
        width: 100%;
        height: fit-content;
        padding: 64px 16px;
        background: var(--accent-light-oai);
        max-width: 1728px;
        margin: 0 auto;
        h1 {
            font-family: var(--font-family-Roboto);
            font-weight: 500;
            font-style: Medium;
            font-size: 28px;
            line-height: 125%;
            letter-spacing: 0%;
            color: var(--secondary-dark-soft);
            text-transform: uppercase;
        }

        .questions_content {
            margin-top: 32px;
            details {
                width: 100%;
                border-top: 1px solid var(--gray);
                @media (prefers-reduced-motion: no-preference) {
                    interpolate-size: allow-keywords;
                }
                &:last-child {
                    border-bottom: 1px solid var(--gray);
                }

                summary {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    position: relative;
                    list-style: none;
                    -webkit-appearance: none;

                    font-family: var(--font-family-Roboto);
                    font-weight: 500;
                    font-size: 18px;
                    text-transform: uppercase;
                    line-height: 100%;
                    padding: 37px 0;

                    .icon {
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    .ph-plus {
                        display: inline-block;
                        font-size: 32px;
                        color: rgba(255, 111, 57, 1);
                        transition: opacity 0.3s ease;
                    }

                    .ph-minus {
                        display: none;
                        font-size: 32px;
                        color: rgba(255, 111, 57, 1);
                        transition: opacity 0.3s ease;
                    }
                }

                summary::marker {
                    display: none;
                }
                p {
                    font-family: var(--font-family-Rubik);
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 14px;
                    leading-trim: NONE;
                    line-height: 145%;
                    letter-spacing: 0%;
                    color: #5a5a5a;
                    padding-bottom: 30px;
                }

                &::details-content {
                    opacity: 0;
                    block-size: 0;
                    overflow-y: clip;
                    transition: content-visibility 0.3s allow-discrete,
                        opacity 0.3s, block-size 0.3s;
                }

                &[open]::details-content {
                    opacity: 1;
                    block-size: auto;
                }
            }
            details[open] summary .ph-plus {
                display: none;
            }
            details[open] summary {
                padding-bottom: 16px;
            }
            details[open] summary .ph-minus {
                display: inline-block;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .questions_container_wrapper {
        background: var(--accent-light-oai);
        .questions_container {
            width: 100%;
            height: fit-content;
            padding: 64px 32px;
            display: flex;
            justify-content: space-between;
            background: var(--accent-light-oai);

            h1 {
                font-family: var(--font-family-Roboto);
                font-weight: 500;
                font-style: Medium;
                font-size: 28px;
                line-height: 125%;
                letter-spacing: 0%;
                color: var(--secondary-dark-soft);
                text-transform: uppercase;
            }

            .questions_content {
                width: 451px;
                margin-top: 0;
                details {
                    width: 100%;
                    border-top: 1px solid var(--gray);
                    @media (prefers-reduced-motion: no-preference) {
                        interpolate-size: allow-keywords;
                    }
                    &:last-child {
                        border-bottom: 1px solid var(--gray);
                    }

                    summary {
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        position: relative;
                        list-style: none;
                        -webkit-appearance: none;

                        font-family: var(--font-family-Roboto);
                        font-weight: 500;
                        font-size: 18px;
                        text-transform: uppercase;
                        line-height: 100%;
                        padding: 25px 0;

                        .icon {
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                        }

                        .ph-plus {
                            display: inline-block;
                            font-size: 24px;
                            color: rgba(255, 111, 57, 1);
                            transition: opacity 0.3s ease;
                        }

                        .ph-minus {
                            display: none;
                            font-size: 24px;
                            color: rgba(255, 111, 57, 1);
                            transition: opacity 0.3s ease;
                        }
                    }

                    summary::marker {
                        display: none;
                    }
                    p {
                        font-family: var(--font-family-Rubik);
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 16px;
                        leading-trim: NONE;
                        line-height: 145%;
                        letter-spacing: 0%;
                        color: #5a5a5a;
                        padding-bottom: 30px;
                    }

                    &::details-content {
                        opacity: 0;
                        block-size: 0;
                        overflow-y: clip;
                        transition: content-visibility 0.3s allow-discrete,
                            opacity 0.3s, block-size 0.3s;
                    }

                    &[open]::details-content {
                        opacity: 1;
                        block-size: auto;
                    }
                }
                details[open] summary .ph-plus {
                    display: none;
                }
                details[open] summary {
                    padding-bottom: 16px;
                }
                details[open] summary .ph-minus {
                    display: inline-block;
                }
            }
        }
    }
}
@media screen and (min-width: 1024px) {
    .questions_container_wrapper {
        background: var(--accent-light-oai);
        .questions_container {
            width: 100%;
            height: fit-content;
            padding: 64px 48px;
            display: flex;
            justify-content: space-between;
            background: var(--accent-light-oai);

            h1 {
                font-family: var(--font-family-Roboto);
                font-weight: 500;
                font-style: Medium;
                font-size: 28px;
                line-height: 125%;
                letter-spacing: 0%;
                color: var(--secondary-dark-soft);
                text-transform: uppercase;
            }

            .questions_content {
                width: 440px;
                margin-top: 0;
                details {
                    width: 100%;
                    border-top: 1px solid var(--gray);
                    @media (prefers-reduced-motion: no-preference) {
                        interpolate-size: allow-keywords;
                    }
                    &:last-child {
                        border-bottom: 1px solid var(--gray);
                    }

                    summary {
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        position: relative;
                        list-style: none;
                        -webkit-appearance: none;

                        font-family: var(--font-family-Roboto);
                        font-weight: 500;
                        font-size: 18px;
                        text-transform: uppercase;
                        line-height: 100%;
                        padding: 25px 0;

                        .icon {
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                        }

                        .ph-plus {
                            display: inline-block;
                            font-size: 24px;
                            color: rgba(255, 111, 57, 1);
                            transition: opacity 0.3s ease;
                        }

                        .ph-minus {
                            display: none;
                            font-size: 24px;
                            color: rgba(255, 111, 57, 1);
                            transition: opacity 0.3s ease;
                        }
                    }

                    summary::marker {
                        display: none;
                    }
                    p {
                        font-family: var(--font-family-Rubik);
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 14px;
                        leading-trim: NONE;
                        line-height: 145%;
                        letter-spacing: 0%;
                        color: #5a5a5a;
                        padding-bottom: 30px;
                    }

                    &::details-content {
                        opacity: 0;
                        block-size: 0;
                        overflow-y: clip;
                        transition: content-visibility 0.3s allow-discrete,
                            opacity 0.3s, block-size 0.3s;
                    }

                    &[open]::details-content {
                        opacity: 1;
                        block-size: auto;
                    }
                }
                details[open] summary .ph-plus {
                    display: none;
                }
                details[open] summary {
                    padding-bottom: 16px;
                }
                details[open] summary .ph-minus {
                    display: inline-block;
                }
            }
        }
    }
}
@media screen and (min-width: 1440px) {
    .questions_container_wrapper {
        background: var(--accent-light-oai);
        .questions_container {
            width: 100%;
            height: fit-content;
            padding: 80px;
            padding-bottom: 72px;
            display: flex;
            justify-content: space-between;
            background: var(--accent-light-oai);

            h1 {
                font-family: var(--font-family-Roboto);
                font-weight: 500;
                font-style: Medium;
                font-size: 56px;
                line-height: 125%;
                letter-spacing: 0%;
                color: var(--secondary-dark-soft);
                text-transform: uppercase;
            }

            .questions_content {
                width: 616px;
                margin-top: 0;
                details {
                    width: 100%;
                    border-top: 1px solid var(--gray);
                    @media (prefers-reduced-motion: no-preference) {
                        interpolate-size: allow-keywords;
                    }
                    &:last-child {
                        border-bottom: 1px solid var(--gray);
                    }

                    summary {
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        position: relative;
                        list-style: none;
                        -webkit-appearance: none;

                        font-family: var(--font-family-Roboto);
                        font-weight: 500;
                        font-size: 22px;
                        text-transform: uppercase;
                        line-height: 100%;
                        padding: 33px 0;

                        .icon {
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                        }

                        .ph-plus {
                            display: inline-block;
                            font-size: 32px;
                            color: rgba(255, 111, 57, 1);
                            transition: opacity 0.3s ease;
                        }

                        .ph-minus {
                            display: none;
                            font-size: 32px;
                            color: rgba(255, 111, 57, 1);
                            transition: opacity 0.3s ease;
                        }
                    }

                    summary::marker {
                        display: none;
                    }
                    p {
                        font-family: var(--font-family-Rubik);
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 16px;
                        leading-trim: NONE;
                        line-height: 145%;
                        letter-spacing: 0%;
                        color: #5a5a5a;
                        padding-bottom: 30px;
                    }

                    &::details-content {
                        opacity: 0;
                        block-size: 0;
                        overflow-y: clip;
                        transition: content-visibility 0.3s allow-discrete,
                            opacity 0.3s, block-size 0.3s;
                    }

                    &[open]::details-content {
                        opacity: 1;
                        block-size: auto;
                    }
                }
                details[open] summary {
                    padding-bottom: 16px;
                }
                details[open] summary .ph-plus {
                    display: none;
                }

                details[open] summary .ph-minus {
                    display: inline-block;
                }
            }
        }
    }
}
@media screen and (min-width: 1920px) {
    .questions_container_wrapper {
        background: var(--accent-light-oai);
        .questions_container {
            width: 100%;
            height: fit-content;
            padding: 96px 0 72px;
            display: flex;
            justify-content: space-between;
            background: var(--accent-light-oai);

            h1 {
                font-family: var(--font-family-Roboto);
                font-weight: 500;
                font-style: Medium;
                font-size: 56px;
                line-height: 125%;
                letter-spacing: 0%;
                color: var(--secondary-dark-soft);
                text-transform: uppercase;
            }

            .questions_content {
                width: 840px;
                margin-top: 0;
                details {
                    width: 100%;
                    border-top: 1px solid var(--gray);
                    @media (prefers-reduced-motion: no-preference) {
                        interpolate-size: allow-keywords;
                    }
                    &:last-child {
                        border-bottom: 1px solid var(--gray);
                    }

                    summary {
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        position: relative;
                        list-style: none;
                        -webkit-appearance: none;

                        font-family: var(--font-family-Roboto);
                        font-weight: 500;
                        font-size: 28px;
                        text-transform: uppercase;
                        line-height: 100%;
                        padding: 38px 0;

                        .icon {
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                        }

                        .ph-plus {
                            display: inline-block;
                            font-size: 48px;
                            color: rgba(255, 111, 57, 1);
                            transition: opacity 0.3s ease;
                        }

                        .ph-minus {
                            display: none;
                            font-size: 48px;
                            color: rgba(255, 111, 57, 1);
                            transition: opacity 0.3s ease;
                        }
                    }

                    summary::marker {
                        display: none;
                    }
                    p {
                        font-family: var(--font-family-Rubik);
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 14px;
                        leading-trim: NONE;
                        line-height: 145%;
                        letter-spacing: 0%;
                        color: #5a5a5a;
                        padding-bottom: 40px;
                    }

                    &::details-content {
                        opacity: 0;
                        block-size: 0;
                        overflow-y: clip;
                        transition: content-visibility 0.3s allow-discrete,
                            opacity 0.3s, block-size 0.3s;
                    }

                    &[open]::details-content {
                        opacity: 1;
                        block-size: auto;
                    }
                }
                details[open] summary .ph-plus {
                    display: none;
                }
                details[open] summary {
                    padding-bottom: 16px;
                }
                details[open] summary .ph-minus {
                    display: inline-block;
                }
            }
        }
    }
}
