.catalog__container {
    max-width: 1728px;
    margin: 0 auto;
    padding: 32px 16px;
    padding-bottom: 16px;
    max-width: 1728px;
    margin: 0 auto;
    .catalog__breadcrumbs {
        width: 100%;
        margin-bottom: 16px;
        p {
            font-family: var(--font-family-Rubik);
            font-weight: 400;
            font-size: 14px;
            line-height: 145%;
            letter-spacing: 0%;
            display: flex;
            gap: 8px;
            color: rgba(159, 159, 159, 1);
            a {
                text-decoration: none;
                color: rgba(159, 159, 159, 1);
            }
            a:last-child {
                color: rgba(255, 111, 57, 1);
            }
        }
    }
    .catalog__actions {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        .catalog__FilterBtn,
        .catalog__PopularBtn {
            width: 100%;
            height: 40px;
            background: transparent;
            border: 1px solid rgba(243, 243, 243, 1);
            color: rgba(58, 61, 66, 1);
            font-family: var(--font-family-Roboto);
            font-weight: 500;
            font-style: Medium;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
            display: flex;
            border-radius: 0;
            gap: 8px;
            align-items: center;
            justify-content: center;
            .ph-caret-down {
                font-size: 16px;
            }
            i {
                font-size: 20px;
            }
        }
    }
    .catalog__wrapper {
        .catalog__filter {
            display: none;
        }
        .catalog__list__header__wrapper {
            display: flex;
            flex-direction: column-reverse;
            gap: 16px;
            .catalog__list__header {
                display: flex;
                justify-content: space-between;
                margin-bottom: 16px;
                h1 {
                    font-family: var(--font-family-Roboto);
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 14px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    margin-bottom: 0px;
                    span {
                        margin-left: 8px;
                        font-family: var(--font-family-Rubik);
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 145%;
                        letter-spacing: 0%;
                        color: rgba(159, 159, 159, 1);
                    }
                }
                .catalog__sort {
                    display: none;
                }
            }
            .catalog__list__filters {
                .removeAllFiltersBtn {
                    display: none;
                    span {
                        display: block;
                    }
                }
                p {
                    display: none;
                }

                ul {
                    display: flex;
                    justify-content: start;
                    flex-wrap: wrap;
                    list-style: none;
                    flex-direction: row;
                    gap: 8px;

                    li {
                        display: flex;
                        gap: 8px;
                        background: #fff2ec;
                        padding: 6px 8px;
                        align-items: center;
                        span {
                            font-family: var(--font-family-Rubik);
                            font-weight: 400;
                            font-style: Regular;
                            font-size: 14px;
                            leading-trim: NONE;
                            line-height: 145%;
                            letter-spacing: 0%;
                            color: #5a5a5a;
                            display: -webkit-box;
                            display: inline-block;
                            max-width: 290px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            vertical-align: middle;
                        }
                        i {
                            font-size: 20px;
                            color: #5a5a5a;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .catalog__listOfProducts__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .catalog__getMore {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        button {
            width: 174px;
            height: 40px;
            display: flex;
            padding: 0;
            justify-content: center;
            align-items: center;
            gap: 4px;
            background: rgba(43, 45, 51, 1);
            border-radius: 2px;
            i {
                font-size: 20px;
            }
        }
    }
    .catalog__pagination {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin-top: 16px;
        span {
            width: 40px;
            height: 40px;
            border: 1px solid #2b2d33;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Roboto Condensed;
            font-weight: 500;
            font-style: Medium;
            font-size: 14px;
            leading-trim: NONE;
            line-height: 100%;
            letter-spacing: 0%;
            vertical-align: middle;
            color: #2b2d33;
            &:hover {
                transition: background 0.3s ease;
                cursor: pointer;
                background: #1c1e22;
                color: #fff;
            }
        }
        button {
            width: 40px;
            height: 40px;
            border: 1px solid #2b2d33;
            background: none;
            font-family: var(--font-family-Roboto);
            font-weight: 500;
            font-style: Medium;
            font-size: 14px;
            leading-trim: NONE;
            line-height: 100%;
            letter-spacing: 0%;
            vertical-align: middle;
            outline: none;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                font-size: 20px;
            }
            &.active {
                background: #2b2d33;
                color: #fff;
            }
            &:hover {
                transition: background 0.3s ease;
                cursor: pointer;
                background: #1c1e22;
                color: #fff;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .catalog__container {
        max-width: 1728px;
        margin: 0 auto;
        padding: 32px 32px;
        padding-bottom: 16px;
        .catalog__filter {
            display: none;
        }
        .catalog__list__wrapper {
            .catalog__list__filters {
                ul {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    list-style: none;
                    gap: 8px;
                    li {
                        display: flex;
                        gap: 8px;
                        background: #fff2ec;
                        padding: 6px 8px;
                        align-items: center;
                        span {
                            font-family: var(--font-family-Rubik);
                            font-weight: 400;
                            font-style: Regular;
                            font-size: 14px;
                            leading-trim: NONE;
                            line-height: 145%;
                            letter-spacing: 0%;
                            color: #5a5a5a;
                        }
                        i {
                            font-size: 20px;
                            color: #5a5a5a;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .catalog__breadcrumbs {
            width: 100%;
            margin-bottom: 24px;
            p {
                font-family: var(--font-family-Rubik);
                font-weight: 400;
                font-size: 16px;
                line-height: 145%;
                letter-spacing: 0%;
                display: flex;
                gap: 8px;
                color: rgba(159, 159, 159, 1);
                a {
                    text-decoration: none;
                    color: rgba(159, 159, 159, 1);
                }
                a:last-child {
                    color: rgba(255, 111, 57, 1);
                }
            }
        }
        .catalog__wrapper {
            .catalog__filter {
                display: none;
            }
            .catalog__list__header__wrapper {
                display: flex;
                flex-direction: column-reverse;
                gap: 16px;
                .catalog__list__header {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 16px;
                    h1 {
                        font-family: var(--font-family-Roboto);
                        font-weight: 500;
                        font-style: Medium;
                        font-size: 14px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        margin-bottom: 0px;
                        span {
                            margin-left: 8px;
                            font-family: var(--font-family-Rubik);
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 145%;
                            letter-spacing: 0%;
                            color: rgba(159, 159, 159, 1);
                        }
                    }
                    .catalog__sort {
                        display: none;
                    }
                }
                .catalog__list__filters {
                    .removeAllFiltersBtn {
                        display: none;
                        span {
                            display: block;
                        }
                    }
                    p {
                        display: none;
                    }

                    ul {
                        display: flex;
                        justify-content: start;
                        flex-wrap: wrap;
                        list-style: none;
                        flex-direction: row;
                        gap: 8px;

                        li {
                            display: flex;
                            gap: 8px;
                            background: #fff2ec;
                            padding: 4px 8px;
                            align-items: center;
                            span {
                                font-family: var(--font-family-Rubik);
                                font-weight: 400;
                                font-style: Regular;
                                font-size: 16px;
                                leading-trim: NONE;
                                line-height: 145%;
                                letter-spacing: 0%;
                                color: #5a5a5a;
                                display: -webkit-box;
                                display: inline-block;
                                max-width: 290px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                vertical-align: middle;
                            }
                            i {
                                font-size: 20px;
                                color: #5a5a5a;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        .catalog__actions {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 24px;
            .catalog__FilterBtn,
            .catalog__PopularBtn {
                width: 100%;
                height: 48px;
                background: transparent;
                border: 1px solid rgba(243, 243, 243, 1);
                color: rgba(58, 61, 66, 1);
                font-family: var(--font-family-Roboto);
                font-weight: 500;
                font-style: Medium;
                font-size: 18px;
                line-height: 100%;
                letter-spacing: 0%;
                display: flex;
                border-radius: 0;
                gap: 8px;
                align-items: center;
                justify-content: center;
                .ph-caret-down {
                    font-size: 16px;
                }
                i {
                    font-size: 20px;
                }
            }
        }
        .catalog__CountOfProducts {
            font-family: var(--font-family-Roboto);
            font-weight: 500;
            font-style: Medium;
            font-size: 18px;
            line-height: 100%;
            letter-spacing: 0%;
            margin-bottom: 16px;
            span {
                margin-left: 8px;
                font-family: var(--font-family-Rubik);
                font-weight: 400;
                font-size: 16px;
                line-height: 145%;
                letter-spacing: 0%;
                color: rgba(159, 159, 159, 1);
            }
        }
        .catalog__listOfProducts__wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
        .catalog__getMore {
            margin-top: 40px;
            display: flex;
            justify-content: center;
            button {
                width: 198px;
                height: 48px;
                display: flex;
                padding: 0;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                gap: 4px;
                background: rgba(43, 45, 51, 1);
                border-radius: 2px;
                i {
                    font-size: 24px;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .catalog__container {
        max-width: 1728px;
        margin: 0 auto;
        padding: 32px 48px;
        padding-bottom: 16px;
        .catalog__breadcrumbs {
            width: 100%;
            margin-bottom: 24px;
            p {
                font-family: var(--font-family-Rubik);
                font-weight: 400;
                font-size: 16px;
                line-height: 145%;
                letter-spacing: 0%;
                display: flex;
                gap: 8px;
                color: rgba(159, 159, 159, 1);
                a {
                    text-decoration: none;
                    color: rgba(159, 159, 159, 1);
                }
                a:last-child {
                    color: rgba(255, 111, 57, 1);
                }
            }
        }
        .catalog__filter {
            display: none;
        }
        .catalog__wrapper {
            .catalog__filter {
                display: none;
            }
            .catalog__list__header__wrapper {
                display: flex;
                flex-direction: column-reverse;
                gap: 16px;
                .catalog__list__header {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 16px;
                    h1 {
                        font-family: var(--font-family-Roboto);
                        font-weight: 500;
                        font-style: Medium;
                        font-size: 14px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        margin-bottom: 0px;
                        span {
                            margin-left: 8px;
                            font-family: var(--font-family-Rubik);
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 145%;
                            letter-spacing: 0%;
                            color: rgba(159, 159, 159, 1);
                        }
                    }
                    .catalog__sort {
                        display: none;
                    }
                }
                .catalog__list__filters {
                    .removeAllFiltersBtn {
                        display: none;
                        span {
                            display: block;
                        }
                    }
                    p {
                        display: none;
                    }

                    ul {
                        display: flex;
                        justify-content: start;
                        flex-wrap: wrap;
                        list-style: none;
                        flex-direction: row;
                        gap: 8px;

                        li {
                            display: flex;
                            gap: 8px;
                            background: #fff2ec;
                            padding: 4px 8px;
                            align-items: center;
                            span {
                                font-family: var(--font-family-Rubik);
                                font-weight: 400;
                                font-style: Regular;
                                font-size: 16px;
                                leading-trim: NONE;
                                line-height: 145%;
                                letter-spacing: 0%;
                                color: #5a5a5a;
                                display: -webkit-box;
                                display: inline-block;
                                max-width: fit-content;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                vertical-align: middle;
                            }
                            i {
                                font-size: 20px;
                                color: #5a5a5a;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        .catalog__actions {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 24px;
            .catalog__FilterBtn,
            .catalog__PopularBtn {
                width: 100%;
                height: 48px;
                background: transparent;
                border: 1px solid rgba(243, 243, 243, 1);
                color: rgba(58, 61, 66, 1);
                font-family: var(--font-family-Roboto);
                font-weight: 500;
                font-style: Medium;
                font-size: 18px;
                line-height: 100%;
                letter-spacing: 0%;
                display: flex;
                border-radius: 0;
                gap: 8px;
                align-items: center;
                justify-content: center;
                .ph-caret-down {
                    font-size: 16px;
                }
                i {
                    font-size: 20px;
                }
            }
        }
        .catalog__CountOfProducts {
            font-family: var(--font-family-Roboto);
            font-weight: 500;
            font-style: Medium;
            font-size: 18px;
            line-height: 100%;
            letter-spacing: 0%;
            margin-bottom: 16px;
            span {
                margin-left: 8px;
                font-family: var(--font-family-Rubik);
                font-weight: 400;
                font-size: 16px;
                line-height: 145%;
                letter-spacing: 0%;
                color: rgba(159, 159, 159, 1);
            }
        }
        .catalog__listOfProducts__wrapper {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
        .catalog__getMore {
            margin-top: 40px;
            display: flex;
            justify-content: center;
            button {
                width: 198px;
                height: 48px;
                display: flex;
                padding: 0;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                gap: 4px;
                background: rgba(43, 45, 51, 1);
                border-radius: 2px;
                i {
                    font-size: 24px;
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .catalog__container {
        max-width: 1728px;
        margin: 0 auto;
        padding: 32px 80px;
        padding-bottom: 16px;
        .catalog__breadcrumbs {
            width: 100%;
            margin-bottom: 24px;
            p {
                font-family: var(--font-family-Rubik);
                font-weight: 400;
                font-size: 16px;
                line-height: 145%;
                letter-spacing: 0%;
                display: flex;
                gap: 8px;
                color: rgba(159, 159, 159, 1);
                a {
                    text-decoration: none;
                    color: rgba(159, 159, 159, 1);
                }
                a:last-child {
                    color: rgba(255, 111, 57, 1);
                }
            }
        }
        .catalog__actions {
            width: 100%;
            display: none;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 24px;
            .catalog__FilterBtn,
            .catalog__PopularBtn {
                width: 100%;
                height: 48px;
                background: transparent;
                border: 1px solid rgba(243, 243, 243, 1);
                color: rgba(58, 61, 66, 1);
                font-family: var(--font-family-Roboto);
                font-weight: 500;
                font-style: Medium;
                font-size: 18px;
                line-height: 100%;
                letter-spacing: 0%;
                display: flex;
                border-radius: 0;
                gap: 8px;
                align-items: center;
                justify-content: center;
                .ph-caret-down {
                    font-size: 16px;
                }
                i {
                    font-size: 20px;
                }
            }
        }
        .catalog__wrapper {
            display: flex;
            flex-direction: row;
            gap: 24px;
            .catalog__filter {
                min-width: 302px;
                padding: 0 16px;

                border: 1px solid rgba(243, 243, 243, 1);
                height: calc(100vh - 140px);
                display: flex;
                flex-direction: column;
                position: sticky;
                top: 88px;
                .catalog__filter-content {
                    max-height: calc(100% - 80px);
                    overflow-y: scroll;
                    overflow-x: auto;
                    scrollbar-width: none;
                    -ms-overflow-style: none;
                }
                .catalog__filter-footer {
                    position: sticky;
                    top: 0;
                    background: white;
                    padding-top: 8px;
                }
                .slider__wrapper {
                    height: 20px;
                    width: 100%;
                    margin-top: 0;
                    padding: 0;
                    #slider {
                        height: 2px;
                        border: none;
                        .noUi-base {
                            height: 2px;
                            .noUi-handle {
                                width: 32px;
                                height: 32px;
                                box-shadow: none;
                                background: #ff6f39;
                                border: none;
                                border-radius: 999px;
                                &::after {
                                    display: none;
                                }
                                &::before {
                                    display: none;
                                }
                            }
                            .noUi-connects {
                                width: 100%;
                                background: #c4c4c4;
                            }
                            .noUi-connect {
                                background: #ff6f39;
                                width: 100%;
                            }
                            .noUi-handle {
                                top: -15px;
                            }
                        }
                    }
                }
                details {
                    width: 100%;
                    height: fit-content;
                    font-family: var(--font-family-Roboto);
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 18px;
                    leading-trim: NONE;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: rgba(43, 45, 51, 1);
                    overflow: hidden;
                    padding: 8px 0px;
                    summary {
                        align-items: center;
                        cursor: pointer;
                        -webkit-appearance: none !important;
                    }

                    .details-content {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        font-family: var(--font-family-Rubik);
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 14px;
                        line-height: 145%;
                        letter-spacing: 0%;

                        label {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap: 8px;
                            cursor: pointer;
                            position: relative;
                            user-select: none;
                            .checkbox__item {
                                display: flex;
                                align-items: center;
                                gap: 8px;
                            }
                            .checkbox__count {
                                font-family: var(--font-family-Rubik);
                                font-weight: 400;
                                font-style: Regular;
                                font-size: 14px;
                                leading-trim: NONE;
                                line-height: 145%;
                                letter-spacing: 0%;
                                color: #9f9f9f;
                            }
                            input {
                                appearance: none;
                                -webkit-appearance: none;
                                -moz-appearance: none;
                                min-width: 20px;
                                height: 20px;
                                border: 1px solid rgba(159, 159, 159, 1);
                                border-radius: 1px;
                                background-color: #fff;
                                cursor: pointer;
                                position: relative;
                                transition: all 0.2s ease;
                            }

                            span {
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                width: 20px;
                                height: 20px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                pointer-events: none;
                                i {
                                    color: white;
                                    font-size: 14px;
                                    display: none;
                                }
                            }

                            input:checked {
                                background: rgba(255, 111, 57, 1);
                                border-color: rgba(255, 111, 57, 1);
                                &:hover {
                                    background-color: #e65b27;
                                }
                                & + span i {
                                    display: block;
                                }
                            }
                        }
                    }
                }
                details:open::details-content {
                    block-size: auto;
                }
                details[open] {
                    transition: height 0.3s ease;
                    height: fit-content;
                    block-size: auto;
                    padding: 0px;

                    summary {
                        padding-top: 16px;
                        padding-bottom: 20px;

                        -webkit-appearance: auto;
                    }

                    .details-content {
                        .details-content_up {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            gap: 16px;
                            input {
                                width: 100%;
                                height: 40px;
                                text-align: center;
                                border-radius: 2px;
                                border: 1px solid rgba(196, 196, 196, 1);
                                font-family: var(--font-family-Rubik);
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 145%;
                                letter-spacing: 0%;
                            }
                        }

                        .range_container {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            padding: 0 16px;

                            .sliders_control {
                                position: relative;
                                min-height: 50px;
                            }

                            .form_control {
                                width: 100%;
                                display: flex;
                                align-items: center;
                                gap: 16px;
                                flex-direction: row;
                                margin-bottom: 40px;
                                font-size: 24px;
                                color: #635a5a;
                                .form_control_container {
                                    input {
                                        width: 100%;
                                        height: 40px;
                                        text-align: center;
                                        font-family: var(--font-family-Rubik);
                                        font-weight: 400;
                                        font-style: Regular;
                                        font-size: 14px;
                                        color: #5a5a5a;
                                        leading-trim: NONE;
                                        line-height: 145%;
                                        letter-spacing: 0%;
                                        border: 1px solid #c4c4c4;
                                        border-radius: 2px;
                                    }
                                }
                                .form_control_separator {
                                    height: 2px;
                                    min-width: 16px;
                                    border-radius: 1px;
                                    background: #6a6d5e;
                                }
                            }
                        }

                        p {
                            font-family: var(--font-family-Rubik);
                            font-weight: 400;
                            text-transform: capitalize;
                            font-size: 14px;
                            line-height: 145%;
                            letter-spacing: 0%;
                            color: rgba(90, 90, 90, 1);
                            padding-block: 1rem;
                        }
                    }
                }
                .showProducts {
                    width: 100%;
                    height: 40px;
                    margin: 16px 0px;
                }
            }
            .catalog__list__header__wrapper {
                display: flex;
                flex-direction: column;
                gap: 0;
                margin-bottom: 24px;
                .catalog__list__header {
                    border: 1px solid rgba(243, 243, 243, 1);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 16px;
                    margin-bottom: 0;

                    .catalog__sort {
                        width: fit-content;
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        position: relative;
                        font-family: var(--font-family-Roboto);
                        font-weight: 500;
                        font-size: 18px;
                        color: #2b2d33;

                        select {
                            border: none;
                            appearance: none;
                            font-family: var(--font-family-Rubik);
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 150%;
                            color: #9f9f9f;
                            outline: none;
                            background: transparent;
                            cursor: pointer;
                            padding-right: 28px;

                            option {
                                border: none;
                                appearance: none;
                                border-radius: 20px;
                                background: var(--neutral-white);
                            }
                        }

                        .ph-caret-down {
                            position: absolute;
                            right: 8px;
                            top: 50%;
                            transform: translateY(-50%);
                            transition: transform 0.3s ease;
                            pointer-events: none;
                        }
                    }
                    .catalog__CountOfProducts {
                        font-family: var(--font-family-Roboto);
                        font-weight: 500;
                        font-style: Medium;
                        font-size: 18px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        margin-bottom: 0px;
                        span {
                            margin-left: 8px;
                            font-family: var(--font-family-Rubik);
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 145%;
                            letter-spacing: 0%;
                            color: rgba(159, 159, 159, 1);
                        }
                    }
                }
            }
            .catalog__list__wrapper {
                .catalog__list__filters {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 17px 16px;
                    border: 1px solid #f3f3f3;
                    gap: 8px;
                    p {
                        min-width: fit-content;
                        display: none;
                        font-family: var(--font-family-Roboto);
                        font-weight: 500;
                        font-style: Medium;
                        font-size: 18px;
                        display: flex;
                        align-items: center;
                        leading-trim: NONE;
                        line-height: 100%;
                        letter-spacing: 0%;
                    }
                    ul {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        list-style: none;
                        gap: 8px;
                        li {
                            display: flex;
                            gap: 8px;
                            background: #fff2ec;
                            padding: 6px 8px;
                            align-items: center;
                            span {
                                font-family: var(--font-family-Rubik);
                                font-weight: 400;
                                font-style: Regular;
                                font-size: 14px;
                                leading-trim: NONE;
                                line-height: 145%;
                                letter-spacing: 0%;
                                color: #5a5a5a;
                            }
                            i {
                                font-size: 20px;
                                color: #5a5a5a;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            .catalog__listOfProducts__wrapper {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
            }
            .catalog__getMore {
                margin-top: 40px;
                display: flex;
                justify-content: center;
                button {
                    width: 198px;
                    height: 48px;
                    display: flex;
                    padding: 0;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                    gap: 4px;
                    background: rgba(43, 45, 51, 1);
                    border-radius: 2px;
                    i {
                        font-size: 24px;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1920px) {
    .catalog__container {
        max-width: 1728px;
        margin: 0 auto;
        padding: 32px 0px;
        padding-bottom: 16px;
        .catalog__breadcrumbs {
            width: 100%;
            margin-bottom: 24px;
            p {
                font-family: var(--font-family-Rubik);
                font-weight: 400;
                font-size: 16px;
                line-height: 145%;
                letter-spacing: 0%;
                display: flex;
                gap: 8px;
                color: rgba(159, 159, 159, 1);
                a {
                    text-decoration: none;
                    color: rgba(159, 159, 159, 1);
                }
                a:last-child {
                    color: rgba(255, 111, 57, 1);
                }
            }
        }
        .catalog__actions {
            width: 100%;
            display: none;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 24px;
            .catalog__FilterBtn,
            .catalog__PopularBtn {
                width: 100%;
                height: 48px;
                background: transparent;
                border: 1px solid rgba(243, 243, 243, 1);
                color: rgba(58, 61, 66, 1);
                font-family: var(--font-family-Roboto);
                font-weight: 500;
                font-style: Medium;
                font-size: 18px;
                line-height: 100%;
                letter-spacing: 0%;
                display: flex;
                border-radius: 0;
                gap: 8px;
                align-items: center;
                justify-content: center;
                .ph-caret-down {
                    font-size: 16px;
                }
                i {
                    font-size: 20px;
                }
            }
        }
        .catalog__wrapper {
            display: flex;
            flex-direction: row;
            gap: 24px;
            .catalog__filter {
                min-width: 408px;
                padding: 0 16px;
                border: 1px solid rgba(243, 243, 243, 1);
                height: fit-content;
                display: flex;
                flex-direction: column;
                position: sticky;
                top: 88px;
                .catalog__filter-content {
                    max-height: 80vh;
                    overflow-y: auto;
                }
                .catalog__filter-content::-webkit-scrollbar-track {
                    scrollbar-width: none;
                }

                details {
                    width: 100%;
                    height: fit-content;
                    font-family: var(--font-family-Roboto);
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 18px;
                    leading-trim: NONE;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: rgba(43, 45, 51, 1);
                    overflow: hidden;
                    padding: 16px 0px;
                    border-top: 1px solid #f3f3f3;
                    border-bottom: 1px solid #f3f3f3;
                    summary {
                        align-items: center;
                        cursor: pointer;
                        -webkit-appearance: none;
                    }

                    .details-content {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        font-family: var(--font-family-Rubik);
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 14px;
                        line-height: 145%;
                        letter-spacing: 0%;

                        label {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap: 8px;
                            cursor: pointer;
                            position: relative;
                            user-select: none;
                            .checkbox__item {
                                display: flex;
                                align-items: center;
                                gap: 8px;
                            }
                            .checkbox__count {
                                font-family: var(--font-family-Rubik);
                                font-weight: 400;
                                font-style: Regular;
                                font-size: 14px;
                                leading-trim: NONE;
                                line-height: 145%;
                                letter-spacing: 0%;
                                color: #9f9f9f;
                            }
                            input {
                                appearance: none;
                                -webkit-appearance: none;
                                -moz-appearance: none;
                                min-width: 20px;
                                height: 20px;
                                border: 1px solid rgba(159, 159, 159, 1);
                                border-radius: 1px;
                                background-color: #fff;
                                cursor: pointer;
                                position: relative;
                                transition: all 0.2s ease;
                            }

                            span {
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                width: 20px;
                                height: 20px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                pointer-events: none;
                                i {
                                    color: white;
                                    font-size: 14px;
                                    display: none;
                                }
                            }

                            input:checked {
                                background: rgba(255, 111, 57, 1);
                                border-color: rgba(255, 111, 57, 1);

                                & + span i {
                                    display: block;
                                }
                            }
                        }
                    }
                }
                details:first-child {
                    border-top: none;
                    summary {
                        padding-top: 0px;
                    }
                }
                details:open::details-content {
                    block-size: auto;
                }
                details[open] {
                    transition: height 0.3s ease;
                    height: fit-content;
                    block-size: auto;
                    padding: 0px;

                    summary {
                        padding-top: 16px;
                        padding-bottom: 20px;
                    }

                    .details-content {
                        padding-bottom: 16px;
                        .details-content_up {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            gap: 16px;
                            input {
                                width: 100%;
                                height: 40px;
                                text-align: center;
                                border-radius: 2px;
                                border: 1px solid rgba(196, 196, 196, 1);
                                font-family: var(--font-family-Rubik);
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 145%;
                                letter-spacing: 0%;
                            }
                            .conent_up_separator {
                                min-width: 16px;
                                height: 2px;
                                background: rgba(106, 109, 94, 1);
                                border-radius: 999px;
                            }
                        }

                        .range_container {
                            width: 100%;
                            display: flex;
                            flex-direction: column;

                            .sliders_control {
                                position: relative;
                                min-height: 50px;
                            }

                            .form_control {
                                width: 100%;
                                display: flex;
                                align-items: center;
                                gap: 16px;
                                flex-direction: row;
                                margin-bottom: 40px;
                                font-size: 24px;
                                color: #635a5a;
                                .form_control_container {
                                    input {
                                        width: 100%;
                                        height: 40px;
                                        text-align: center;
                                        font-family: var(--font-family-Rubik);
                                        font-weight: 400;
                                        font-style: Regular;
                                        font-size: 14px;
                                        color: #5a5a5a;
                                        leading-trim: NONE;
                                        line-height: 145%;
                                        letter-spacing: 0%;
                                        border: 1px solid #c4c4c4;
                                        border-radius: 2px;
                                        outline: none;
                                        &:focus {
                                            border-color: #ff6f39;
                                        }
                                    }
                                }
                                .form_control_separator {
                                    height: 2px;
                                    width: 16px;
                                    border-radius: 1px;
                                    background: #6a6d5e;
                                }
                            }
                        }

                        p {
                            font-family: var(--font-family-Rubik);
                            font-weight: 400;
                            text-transform: capitalize;
                            font-size: 14px;
                            line-height: 145%;
                            letter-spacing: 0%;
                            color: rgba(90, 90, 90, 1);
                            padding-block: 1rem;
                        }
                    }
                }
                .showProducts {
                    width: 100%;
                    height: 48px;
                    margin: 16px 0px;
                }
            }
            .catalog__list__wrapper {
                width: 100%;
                .catalog__list__filters {
                    width: 100%;

                    ul {
                        width: 100%;
                        display: flex;
                    }
                }
            }
            .catalog__list__header {
                border: 1px solid rgba(243, 243, 243, 1);
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 16px;
                margin-bottom: 24px;
                h1 {
                    font-family: var(--font-family-Roboto);
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 18px !important;
                    line-height: 100%;
                    letter-spacing: 0%;
                    margin-bottom: 0px;
                    span {
                        margin-left: 8px;
                        font-family: var(--font-family-Rubik);
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 145%;
                        letter-spacing: 0%;
                        color: rgba(159, 159, 159, 1);
                    }
                    select {
                        border: none;
                    }
                }
                .catalog__sort {
                    display: flex;
                    gap: 8px;
                    position: relative;
                    select {
                        appearance: none;
                        font-family: var(--font-family-Rubik);
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 16px;
                        leading-trim: NONE;
                        line-height: 150%;
                        letter-spacing: 0%;
                        color: #9f9f9f;
                        outline: none;
                        background: transparent;
                        cursor: pointer;
                        option {
                            appearance: none;
                            border-radius: 20px;
                            background: var(--neutral-white);
                        }
                    }
                    .ph-caret-down {
                        position: absolute;
                        right: 0px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
            .catalog__listOfProducts__wrapper {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
            }
            .catalog__getMore {
                margin-top: 40px;
                display: flex;
                justify-content: center;
                button {
                    width: 198px;
                    height: 48px;
                    display: flex;
                    padding: 0;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                    gap: 4px;
                    background: rgba(43, 45, 51, 1);
                    border-radius: 2px;
                    i {
                        font-size: 24px;
                    }
                }
            }
        }
    }
}
