.popularProducts_container {
    width: 100%;
    padding: 96px 16px 80px;
    .popularProducts_header {
        .popularProductSlider__nav {
            display: none;
        }
    }
    h1 {
        font-family: var(--font-family-Roboto);
        font-weight: 500;
        font-style: Medium;
        font-size: 28px;
        leading-trim: NONE;
        line-height: 125%;
        letter-spacing: 0%;
        text-transform: uppercase;
        margin-bottom: 32px;
        color: rgba(43, 45, 51, 1);
    }
    .showMore {
        margin-top: 32px;
        width: 100%;
        padding: 0;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid rgba(0, 0, 0, 0.64);
        color: rgba(0, 0, 0, 1);
        font-family: var(--font-family-Roboto);
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        transition: background 0.3s ease;
        text-transform: uppercase;
        &:hover {
            transition: background 0.3s ease;
            cursor: pointer;
            background: var(--secondary-dark);
            color: var(--neutral-white);
        }
    }
    .popularProducts_wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .popularProductSlider {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .popularProducts_container {
        width: 100%;
        padding: 64px 32px;
        .popularProducts_header {
            .popularProductSlider__nav {
                display: none;
            }
        }
        h1 {
            font-family: var(--font-family-Roboto);
            font-weight: 500;
            font-style: Medium;
            font-size: 40px;
            line-height: 125%;
            letter-spacing: 0%;
            text-transform: uppercase;
            margin-bottom: 0px;
            color: rgba(43, 45, 51, 1);
        }
        .popularProducts_wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
@media screen and (min-width: 1024px) {
    .popularProducts_container {
        width: 100%;
        padding: 64px 48px;
        .popularProducts_header {
            margin-bottom: 32px;
            .popularProductSlider__nav {
                display: none;
            }
        }
        h1 {
            font-family: var(--font-family-Roboto);
            font-weight: 500;
            font-style: Medium;
            font-size: 40px;
            line-height: 125%;
            letter-spacing: 0%;
            text-transform: uppercase;
            margin-bottom: 0px;
            color: rgba(43, 45, 51, 1);
        }
        .popularProducts_wrapper {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
        .popularProductSlider {
            display: none;
        }
    }
}

@media screen and (min-width: 1440px) {
    .popularProducts_container {
        width: 100%;
        padding: 80px;
        padding-bottom: 72px;
        .popularProducts_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 48px;
            .popularProductSlider__nav {
                display: flex;
                flex-direction: row;
                gap: 9px;
                div:first-child {
                    button {
                        background: transparent;
                        color: rgba(43, 45, 51, 1);
                        border-color: rgba(43, 45, 51, 1);
                        &:hover {
                            background: rgba(43, 45, 51, 1);
                            color: #fff;
                        }
                    }
                }
                div:last-child {
                    button {
                        background: rgba(43, 45, 51, 1);
                        color: #fff;
                        border-color: rgba(43, 45, 51, 1);
                        &:hover {
                            background: rgba(28, 30, 34, 1);
                            color: #fff;
                        }
                    }
                }
                button {
                    width: 56px;
                    height: 56px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        h1 {
            font-family: var(--font-family-Roboto);
            font-weight: 500;
            font-style: Medium;
            font-size: 56px;
            line-height: 125%;
            letter-spacing: 0%;
            text-transform: uppercase;
            margin-bottom: 0px;
            color: rgba(43, 45, 51, 1);
        }
        .popularProducts_wrapper {
            display: none;
            grid-template-columns: repeat(5, 1fr);
        }
        .popularProductSlider {
            display: block;

            .popularProductSlider_pagination {
                display: flex;
                justify-content: center;
                margin-top: 24px;

                .swiper-pagination-bullet {
                    border-radius: 1px;
                }
                .swiper-pagination-bullet-active {
                    background: rgba(28, 30, 34, 1);
                }
            }
        }
        .showMore {
            display: none;
        }
    }
}
@media screen and (min-width: 1920px) {
    .popularProducts_container {
        width: 100%;
        padding: 96px;
        padding-bottom: 80px;
        .popularProducts_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 48px;
            .popularProductSlider__nav {
                display: flex;
                flex-direction: row;
                gap: 9px;
                div:first-child {
                    button {
                        background: transparent;
                        color: rgba(43, 45, 51, 1);
                        border-color: rgba(43, 45, 51, 1);
                        &:hover {
                            background: rgba(43, 45, 51, 1);
                            color: #fff;
                        }
                    }
                }
                div:last-child {
                    button {
                        background: rgba(43, 45, 51, 1);
                        color: #fff;
                        border-color: rgba(43, 45, 51, 1);
                        &:hover {
                            background: rgba(28, 30, 34, 1);
                            color: #fff;
                        }
                    }
                }
                button {
                    width: 56px;
                    height: 56px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        h1 {
            font-family: var(--font-family-Roboto);
            font-weight: 500;
            font-style: Medium;
            font-size: 56px !important;
            line-height: 125%;
            letter-spacing: 0%;
            text-transform: uppercase;
            margin-bottom: 0px;
            color: rgba(43, 45, 51, 1);
        }
        .popularProducts_wrapper {
            display: none;
            grid-template-columns: repeat(6, 1fr);
        }
    }
}
