.primaryBtn {
    width: fit-content;
    padding: 8px 12px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--neutral-white);
    background: var(--primary-main-orange);
    text-transform: uppercase;
    transition: background 0.3s ease;
    border: none;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    position: relative;
    .counterWrapper {
        width: 16px;
        height: 16px;
        position: absolute;
        top: -2px;
        right: -2px;
        background: var(--primary-soft);
        border-radius: 2px;
        font-family: "Rubik", sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            font-weight: 500;
            font-style: Medium;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
            vertical-align: middle;
            color: rgba(28, 30, 34, 1);
        }
        span {
            display: none;
            font-family: var(--font-family-Rubik);
            font-weight: 500;
            font-style: Medium;
            font-size: 8px;
            color: rgba(28, 30, 34, 1);
            line-height: 100%;
            letter-spacing: 0%;
            vertical-align: bottom;
        }
    }
    &:disabled {
        color: var(--gray);
        background: var(--primary-soft);
    }
    &:disabled:hover {
        cursor: not-allowed;
        background: var(--primary-soft);
    }
    &:hover {
        cursor: pointer;
        transition: background 0.3s ease;
        background: var(--primary-main-orange-hover);
    }
}
