.cartModal__container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #000;
    background: rgba(0, 0, 0, 0.16);
    z-index: 999;
    visibility: hidden;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: 0.3s ease;
    &.active {
        height: 100%;
        visibility: visible;
        transition: 0.3s ease;
        opacity: 1;
    }

    .cartModal__body {
        width: 100%;
        height: 100vh;
        background: rgba(253, 253, 253, 1);
        padding: 32px 16px;
        position: relative;
        visibility: hidden;
        transition: 0.3s ease;
        .ph-x {
            position: absolute;
            top: 32px;
            right: 16px;
            font-size: 32px;
            color: rgba(43, 45, 51, 1);
            &:hover {
                cursor: pointer;
            }
        }
        .cartModal__empty {
            .cartModal__empty__title {
                font-family: var(--font-family-Roboto);
                font-weight: 500;
                font-style: Medium;
                font-size: 28px;
                line-height: 125%;
                letter-spacing: 0%;
                color: rgba(43, 45, 51, 1);
                margin-top: 64px;
                text-align: center;
            }
            .cartModal__empty__subtitle {
                font-family: var(--font-family-Rubik);
                font-weight: 400;
                font-size: 16px;
                color: rgba(159, 159, 159, 1);
                line-height: 150%;
                letter-spacing: 0%;
                text-align: center;
                margin-top: 16px;
            }
            .btnToCatalog {
                width: 100%;
                height: 40px;
                margin-top: 145px;
                background: rgba(255, 111, 57, 1);
            }
        }
        .cartModal__full {
            .cartModal__full__title {
                font-family: var(--font-family-Roboto);
                font-weight: 500;
                font-style: Medium;
                font-size: 22px;

                line-height: 130%;
                letter-spacing: 0%;
                margin-bottom: 4px;
            }
            .cartModal__full__subtitle {
                font-family: var(--font-family-Rubik);
                font-weight: 400;
                font-style: Regular;
                font-size: 14px;
                leading-trim: NONE;
                line-height: 145%;
                letter-spacing: 0%;
                color: rgba(90, 90, 90, 1);
            }
            .cartModal__separator {
                width: 100%;
                height: 1px;
                border: none;
                background: rgba(243, 243, 243, 1);
                margin-top: 32px;
                margin-bottom: 16px;
            }
            .cartModal__products {
                display: flex;
                flex-direction: column;
                gap: 16px;
            }
            .cartModal__result {
                margin-top: 16px;
                width: 100%;
                padding: 16px;
                background: rgba(255, 242, 236, 1);
                display: flex;
                flex-direction: column;
                gap: 16px;
                .cartModal__result__separator {
                    width: 100%;
                    height: 1px;
                    background: rgba(159, 159, 159, 1);
                    border: none;
                }
                h1 {
                    font-family: var(--font-family-Roboto);
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 18px;
                    leading-trim: NONE;
                    line-height: 100%;
                    letter-spacing: 0%;
                }
                .result {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    .result__orderPrice,
                    .result__discount,
                    .result__payable {
                        display: flex;
                        justify-content: space-between;
                        p {
                            font-family: var(--font-family-Rubik);
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 145%;
                            letter-spacing: 0%;
                            color: rgba(159, 159, 159, 1);
                            span {
                                font-family: var(--font-family-Roboto);
                                font-weight: 300;
                                font-style: Light;
                                font-size: 18px;
                                line-height: 100%;
                                letter-spacing: 0%;
                                color: rgba(0, 0, 0, 1);
                            }
                        }
                    }
                }
                button {
                    width: 100%;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    span {
                        display: block;
                    }
                }
            }
        }
        &.active {
            visibility: visible;
            height: 100%;
            transition: 0.3s ease;
        }
    }
}
@media screen and (min-width: 768px) {
    .cartModal__container {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        background: #000;
        background: rgba(0, 0, 0, 0.16);
        z-index: 999;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease;

        &.active {
            height: 100%;
            visibility: visible;
            transition: 0.3s ease;
            opacity: 1;
        }
        .cartModal__body:has(.cartModal__empty) {
            width: 704px;
            max-height: 444px;
            margin-top: 140px;
        }
        .cartModal__body {
            width: 100%;
            height: 100%;
            background: rgba(253, 253, 253, 1);
            padding: 24px 24px;
            position: relative;
            visibility: hidden;
            transition: 0.3s ease;
            .ph-x {
                position: absolute;
                top: 24px;
                right: 24px;
                font-size: 40px;
                color: rgba(43, 45, 51, 1);
            }
            .cartModal__empty {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .cartModal__empty__title {
                    font-family: var(--font-family-Roboto);
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 28px;
                    line-height: 125%;
                    letter-spacing: 0%;
                    color: rgba(43, 45, 51, 1);
                    margin-top: 108px;
                    text-align: center;
                }
                .cartModal__empty__subtitle {
                    font-family: var(--font-family-Rubik);
                    font-weight: 400;
                    width: 349px;
                    font-size: 16px;
                    color: rgba(159, 159, 159, 1);
                    line-height: 150%;
                    letter-spacing: 0%;
                    text-align: center;
                    margin-top: 16px;
                }
                .btnToCatalog {
                    width: 656px;
                    height: 40px;
                    position: absolute;
                    bottom: 24px;
                    background: rgba(255, 111, 57, 1);
                }
            }
            .cartModal__full {
                .cartModal__full__title {
                    font-family: var(--font-family-Roboto);
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 28px;

                    line-height: 130%;
                    letter-spacing: 0%;
                    margin-bottom: 4px;
                }
                .cartModal__full__subtitle {
                    font-family: var(--font-family-Rubik);
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 14px;
                    leading-trim: NONE;
                    line-height: 145%;
                    letter-spacing: 0%;
                }
                .cartModal__content {
                    margin-top: 48px;
                    display: flex;
                    flex-direction: row;
                    gap: 24px;

                    hr {
                        display: none;
                    }
                    .cartModal__separator {
                        width: 100%;
                        height: 1px;
                        border: none;
                        background: rgba(243, 243, 243, 1);
                        margin-top: 32px;
                        margin-bottom: 16px;
                    }
                    .cartModal__products {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                    }
                    .cartModal__result {
                        margin-top: 0px;
                        max-width: 340px;
                        height: 328px;
                        padding: 16px;
                        background: rgba(255, 242, 236, 1);
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 16px;
                        .cartModal__result__separator {
                            width: 100%;
                            height: 1px;
                            background: rgba(159, 159, 159, 1);
                            border: none;
                            display: block;
                        }
                        h1 {
                            font-family: var(--font-family-Roboto);
                            font-weight: 500;
                            font-style: Medium;
                            font-size: 22px;
                            leading-trim: NONE;
                            line-height: 100%;
                            letter-spacing: 0%;
                        }
                        .result {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                            margin-bottom: 32px;
                            .result__orderPrice,
                            .result__discount,
                            .result__payable {
                                display: flex;
                                justify-content: space-between;
                                p {
                                    font-family: var(--font-family-Rubik);
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 145%;
                                    letter-spacing: 0%;
                                    color: rgba(159, 159, 159, 1);
                                    span {
                                        font-family: var(--font-family-Roboto);
                                        font-weight: 300;
                                        font-style: Light;
                                        font-size: 18px;
                                        line-height: 100%;
                                        letter-spacing: 0%;
                                        color: rgba(0, 0, 0, 1);
                                    }
                                }
                            }
                        }
                        button {
                            width: 100%;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            span {
                                display: block;
                            }
                        }
                    }
                }
            }
            &.active {
                visibility: visible;
                height: 100%;
                transition: 0.3s ease;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .cartModal__container {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        background: #000;
        background: rgba(0, 0, 0, 0.16);
        z-index: 999;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease;
        display: flex;
        justify-content: center;
        padding-top: 0px;
        padding-bottom: 82px;
        &.active {
            height: 100%;
            visibility: visible;
            transition: 0.3s ease;
            opacity: 1;
        }
        .cartModal__body:has(.cartModal__empty) {
            width: 762px;
            min-height: 460px;
            margin-top: 100px;
        }
        .cartModal__body {
            width: 762px;
            height: 100%;
            margin-top: 100px;
            background: rgba(253, 253, 253, 1);
            padding: 32px 32px;
            position: relative;
            visibility: hidden;
            transition: 0.3s ease;

            .ph-x {
                position: absolute;
                top: 32px;
                right: 32px;
                font-size: 40px;
                color: rgba(43, 45, 51, 1);
                cursor: pointer;
            }
            .cartModal__empty {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .cartModal__empty__title {
                    font-family: var(--font-family-Roboto);
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 28px;
                    line-height: 125%;
                    letter-spacing: 0%;
                    color: rgba(43, 45, 51, 1);
                    margin-top: 64px;
                    text-align: center;
                }
                .cartModal__empty__subtitle {
                    font-family: var(--font-family-Rubik);
                    font-weight: 400;
                    width: 350px;
                    font-size: 16px;
                    color: rgba(159, 159, 159, 1);
                    line-height: 150%;
                    letter-spacing: 0%;
                    text-align: center;
                    margin-top: 16px;
                }
                .btnToCatalog {
                    width: 698px;
                    height: 40px;
                    position: absolute;
                    bottom: 24px;

                    background: rgba(255, 111, 57, 1);
                }
            }
            .cartModal__full {
                .cartModal__full__title {
                    font-family: var(--font-family-Roboto);
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 22px;

                    line-height: 130%;
                    letter-spacing: 0%;
                    margin-bottom: 4px;
                }
                .cartModal__full__subtitle {
                    font-family: var(--font-family-Rubik);
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 14px;
                    leading-trim: NONE;
                    line-height: 145%;
                    letter-spacing: 0%;
                }
                .cartModal__content {
                    margin-top: 48px;
                    display: flex;
                    flex-direction: row;
                    gap: 24px;

                    hr {
                        display: none;
                    }
                    .cartModal__separator {
                        width: 100%;
                        height: 1px;
                        border: none;
                        background: rgba(243, 243, 243, 1);
                        margin-top: 32px;
                        margin-bottom: 16px;
                    }
                    .cartModal__products {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                    }
                    .cartModal__result {
                        margin-top: 0px;
                        max-width: 340px;
                        height: 328px;
                        padding: 16px;
                        background: rgba(255, 242, 236, 1);
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 16px;
                        .cartModal__result__separator {
                            width: 100%;
                            height: 1px;
                            background: rgba(159, 159, 159, 1);
                            border: none;
                            display: block;
                        }
                        h1 {
                            font-family: var(--font-family-Roboto);
                            font-weight: 500;
                            font-style: Medium;
                            font-size: 22px;
                            leading-trim: NONE;
                            line-height: 100%;
                            letter-spacing: 0%;
                        }
                        .result {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                            margin-bottom: 32px;
                            .result__orderPrice,
                            .result__discount,
                            .result__payable {
                                display: flex;
                                justify-content: space-between;
                                p {
                                    font-family: var(--font-family-Rubik);
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 145%;
                                    letter-spacing: 0%;
                                    color: rgba(159, 159, 159, 1);
                                    span {
                                        font-family: var(--font-family-Roboto);
                                        font-weight: 300;
                                        font-style: Light;
                                        font-size: 18px;
                                        line-height: 100%;
                                        letter-spacing: 0%;
                                        color: rgba(0, 0, 0, 1);
                                    }
                                }
                            }
                        }
                        button {
                            width: 100%;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            span {
                                display: block;
                            }
                        }
                    }
                }
            }
            &.active {
                visibility: visible;
                height: fit-content;
                transition: 0.3s ease;
            }
        }
    }
}
@media screen and (min-width: 1440px) {
    .cartModal__container {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        background: #000;
        background: rgba(0, 0, 0, 0.16);
        z-index: 999;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease;
        display: flex;
        justify-content: center;
        padding-top: 100px;
        padding-bottom: 82px;
        &.active {
            height: 100%;
            visibility: visible;
            transition: 0.3s ease;
            opacity: 1;
        }
        .cartModal__body:has(.cartModal__empty) {
            width: 788px;
            min-height: 420px;
            margin: 0;
        }
        .cartModal__body {
            width: 1115px;
            height: 0;
            background: rgba(253, 253, 253, 1);
            padding: 24px;
            position: relative;
            visibility: hidden;
            transition: 0.3s ease;

            .ph-x {
                position: absolute;
                top: 24px;
                right: 24px;
                cursor: pointer;
                font-size: 40px;
                color: rgba(43, 45, 51, 1);
            }
            .cartModal__empty {
                .cartModal__empty__title {
                    font-family: var(--font-family-Roboto);
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 28px;
                    line-height: 125%;
                    letter-spacing: 0%;
                    color: rgba(43, 45, 51, 1);
                    margin-top: 64px;
                    text-align: center;
                }
                .cartModal__empty__subtitle {
                    font-family: var(--font-family-Rubik);
                    font-weight: 400;
                    font-size: 16px;
                    color: rgba(159, 159, 159, 1);
                    line-height: 150%;
                    letter-spacing: 0%;
                    text-align: center;
                    margin-top: 16px;
                }
                .btnToCatalog {
                    width: 740px;
                    height: 40px;
                    margin-top: 0;
                    background: rgba(255, 111, 57, 1);
                }
            }
            .cartModal__full {
                .cartModal__full__title {
                    font-family: var(--font-family-Roboto);
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 22px;

                    line-height: 130%;
                    letter-spacing: 0%;
                    margin-bottom: 4px;
                }
                .cartModal__full__subtitle {
                    font-family: var(--font-family-Rubik);
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 14px;
                    leading-trim: NONE;
                    line-height: 145%;
                    letter-spacing: 0%;
                }
                .cartModal__content {
                    margin-top: 48px;
                    display: flex;
                    flex-direction: row;
                    gap: 24px;

                    hr {
                        display: none;
                    }
                    .cartModal__separator {
                        width: 100%;
                        height: 1px;
                        border: none;
                        background: rgba(243, 243, 243, 1);
                        margin-top: 32px;
                        margin-bottom: 16px;
                    }
                    .cartModal__products {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                    }
                    .cartModal__result {
                        margin-top: 0px;
                        max-width: 340px;
                        height: 328px;
                        padding: 16px;
                        background: rgba(255, 242, 236, 1);
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 16px;
                        .cartModal__result__separator {
                            width: 100%;
                            height: 1px;
                            background: rgba(159, 159, 159, 1);
                            border: none;
                            display: block;
                        }
                        h1 {
                            font-family: var(--font-family-Roboto);
                            font-weight: 500;
                            font-style: Medium;
                            font-size: 22px;
                            leading-trim: NONE;
                            line-height: 100%;
                            letter-spacing: 0%;
                        }
                        .result {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                            margin-bottom: 32px;
                            .result__orderPrice,
                            .result__discount,
                            .result__payable {
                                display: flex;
                                justify-content: space-between;
                                p {
                                    font-family: var(--font-family-Rubik);
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 145%;
                                    letter-spacing: 0%;
                                    color: rgba(159, 159, 159, 1);
                                    span {
                                        font-family: var(--font-family-Roboto);
                                        font-weight: 300;
                                        font-style: Light;
                                        font-size: 18px;
                                        line-height: 100%;
                                        letter-spacing: 0%;
                                        color: rgba(0, 0, 0, 1);
                                    }
                                }
                            }
                        }
                        button {
                            width: 100%;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            span {
                                display: block;
                            }
                        }
                    }
                }
            }
            &.active {
                visibility: visible;

                transition: 0.3s ease;
            }
        }
    }
}
